extends ../layout.pug
block main
  section.section(class='label-detail-main')
    div.container
      if error
        h1.title(class='is-1 has-text-warning') #[em AN ERROR OCCURED WHEN FETCHING DB]
        p #{error}
      else
        div.columns(class='is-multiline')
          div.column(class='is-full')
            h1.title(class='is-2 has-text-success') #{title}
          div.column(class='is-5')
            nav.panel
              p.panel-heading(class='has-text-centered') All CSS/SASS tagged by the label #[span(class='tag is-link is-large') #{label.label}]
              p.panel-tabs
                a.is-active CSS
                a SASS
              each item in css
                a.panel-block(href=item.url)
                  span.panel-icon
                    i.fab(class='fa-css3')
                  | "#[em #{item.name}]" by #{item.user.name} (created #{item.created_formatted})
              each item in sass
                a.panel-block(href=item.url)
                  span.panel-icon
                    i.fab(class='fa-sass')
                  | "#[em #{item.name}]" by #{item.user.name} (created #{item.created_formatted})
          div.column(class='is-8')
            div.box
              p.title Nejaky text... fndalsfja lasdfkjl  ilg  luiaetsl euitlkl sgz jkalipasdlu aslei ge lgal asl ra li al asl
