extends layout.pug
block main
  section.section(class='sass-list-main')
    div.container
      if error
        h1.title(class="is-1 has-text-warning") #[em AN ERROR] #{error} OCCURED WHEN FETCHING DB
      else
        h1.title= title
      div.columns(class='is-multiline')
        div.column(class='is-four-fifths')
          div.container
            ul
              each val in sasslist
                li
                  div.box
                    a(href=val.user.url) #{val.user.name}
                    |'s Sass caled: #[a(href=val.url) #{val.name}] (created: #{val.created_formatted})
                    div.tags
                      each label in val.labels
                        span.tag
                          a(href=label.url) #{label.label}
        div.column(class='is-one-fifths')
          div.container
            div.box
              h3.subtitle(class='is-large has-text-weight-bold has-background-primary has-text-warning has-text-centered') Subtitle
              p BB
                span.tag(class='is-info') blabla
              p with the IP address
                span.tag(class='is-link') mehmeh
